{% extends 'base.html' %}
{% block content %}

<h1 class="center align">HOME</h1>

<div class="center align">

    
</div>
{% for post in posts %}
    <div class="row">
            <div class="col s8 m6 offset-s2 offset-m3">
                <div class="card">
                    <a href="{% url 'profile' post.user.id %}">
                        <span class="card-title" style="margin: 0 0 0 10px;">{{post.user.username}}</span>
                    </a>
                    <a href="{% url 'detail' post.id %}">
                    <div class="card-image">
                        <img src="">
                        <!-- <p>image goes here</p> -->
                        {% for photo in post.photo_set.all %}
                          <img class="responsive-img card-panel" src="{{photo.url}}">
                        {% empty %}
                          <div class="card-panel teal-text center-align">No Photos Uploaded</div>
                        {% endfor %}
                    </div>
                    <div class="card-content">
                        <p>{{ post.description }}</p><br>
                        {% if user.is_authenticated %} 
                        {% if user.id in post.like_list_generator %}
                            <form action="{% url 'add_like' post.id user.id %}" method="post">
                                {% csrf_token %}
                                <!-- <button type="submit">Unlike</button> -->
                                <button class="btn waves-effect waves-light right" type="submit" name="action">
                                    <i class="material-icons dp48 center">favorite</i>
                                </button>
                            </form>
                        {% else %}  
                            <form action="{% url 'add_like' post.id user.id %}" method="post">
                                {% csrf_token %}
                                <!-- <button type="submit">Like</button> -->
                                <button class="btn waves-effect waves-light right" type="submit" name="action">
                                    <i class="material-icons dp48 center">favorite_border</i>
                                </button>
                            </form>
                        {% endif %}
                        {% endif %}
                        {% if post.like_set.count == 1 %}
                        <a href="/posts/{{ post.id }}/likes" style="text-align: right;"><p style="margin: 8px 75px 0 0;">{{ post.like_set.count }} Like</p></a>
                        {% else %}
                        <a href="/posts/{{ post.id }}/likes" style="text-align: right;"><p style="margin: 8px 75px 0 0;">{{ post.like_set.count }} Likes</p></a>
                        {% endif %}
                    </div>
                    </a>
                </div>
            </div>
    </div>
{% endfor %}

{% endblock %}
