{% extends 'base.html' %}
{% block content %}

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>

<div class="header">
    <h1>Messages</h1>
    <!-- <a href="{% url 'send_message' %}">Send a message</a> -->
    <a class="waves-effect waves-light btn" href="{% url 'send_message' %}">Send a message</a>
</div>

<h3>Inbox:</h3>
<table>
    <tr>
        <th>Sender</th>
        <th>Message</th>
        <th>Time Received</th>
    </tr>
    {% for message in messages %}
    <tr>
        <td>{{ message.sender }}</td>
        <td>{{ message.content }}</td>
        <td>{{ message.timestamp }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}