{% extends 'base.html' %}
{% block content %}

<h1 class="center align">PROFILE</h1>



<div class="row">
    <div class="col s2 card"><span class="flow-text">user profile picture</span></div>
    <div class="col s1"></div>
    <div class="col s9 card">
        <div class="card-title">{{user.username}} here</div>
        <div class="col s3">XX posts</div>
        <div class="col s3">XX followers</div>
        <div class="col s3">XX Following</div>
    </div>
</div>


<div class="row">
    <div class="col s9 offset-s3 card">
        <p>User description here</p>
    </div>
</div>

{% endblock %}
